* {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
}

html,
body {
  min-width: 760px;
  max-width: 1280px;
}

header {
  background-color: white;
  position: relative;
  height: 95px;
}

li {
  font-size: 1.7rem;
  color: rgb(21, 149, 136);
  list-style: none;
}

footer {
  color: white;
  font-weight: 200;
  width: auto;
}

a {
  font-size: 1.85rem;
  font-weight: 300;
  color: rgb(21, 149, 136);
}

b {
  color: white;
  position: absolute;
  bottom: 18%;
  right: 0%;
  font-size: 1.65rem;
  font-weight: 200;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.left {
  background-color: rgb(38, 50, 56);
  width: 75%;
  height: 1636px;
  float: left;
  border-right: 1px solid black;
}

.right {
  float: left;
  width: 25%;
  height: 100%;
  overflow: hidden;
}

footer > div > p {
  font-size: 1.5rem;
  float: left;
  margin-top: 20px;
  margin-left: 36%;
}

.team-members {
  background-color: white;
  overflow: hidden;
  padding-left: 5px;
}

.team-members > div {
  float: left;
  margin: 14px 9px 0;
}

.left-team-members a {
  display: block;
  margin-bottom: 11%;
}

.logo {
  position: relative;
  height: 85px;
}

.right .logo img {
  position: absolute;
  top: 0.75vw;
  right: 3vw;
}

.logo i {
  position: absolute;
  top: 3vh;
  right: 1.5vw;
  color: rgb(21, 149, 136);
  font-size: 2.5vw;
}

.left .logo {
  position: absolute;
  left: -20px;
  top: 10px;
  width: 25%;
  float: left;
}

.right-team-members {
  margin-top: 10px;
}

.right-team-members div:first-child {
  margin-top: 0;
}

.right-team-members a {
  display: block;
  margin-bottom: 11%;
}

.right-team-members .name {
  font-size: 2.7vw;
}

.right-team-members b {
  font-size: 1.3vw;
}

.right > footer {
  padding: 0;
}

.images {
  position: relative;
  display: block;
}

.images p {
  position: absolute;
  color: white;
  right: -2px;
}

.name {
  font-size: 3.3em;
  font-family: 'Noto Sans', sans-serif;
  top: 69%;
}

.description {
  width: 90%;
  top: 25%;
  left: 20px;
  line-height: 18px;
  font-size: 1rem;
  font-weight: 200;
}

.description-bg {
  position: absolute;
  height: 83%;
  width: 100%;
  top: 16.5%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.description-bg b {
  top: 42px;
}

.description-bg p:first-child {
  top: 10px;
}

.left-nav {
  position: absolute;
  top: 60px;
  right: 20px;
}

.left-nav ul {
  float: left;
}

.left-nav ul li {
  float: left;
  margin: 5px;
}

.left-icons {
  font-size: 2.5rem;
  float: right;
  margin: 15px 15px 0 0;
}

.team-header {
  position: relative;
  background-color: white;
  color: white;
  height: auto;
}

.team-header > div {
  display: block;
}

.team-header p {
  position: absolute;
  display: inline-block;
  font-size: 4.8em;
  top: 45%;
  left: 2%;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #000;
}

.right-nav {
  position: relative;
  width: 100%;
  padding-left: 0;
  top: 10px;
}

.right-nav:first-child {
  border-top: 1px solid black;
}

.right-nav li {
  height: calc(145px / 3);
  border-bottom: 1px solid black;
  color: rgb(40, 39, 39);
  text-align: center;
  padding-top: 15px;
}

.right-nav li:hover {
  border-left: 1px solid white;
  background-color: rgb(40, 39, 39);
  color: rgb(21, 149, 136);
}

.right-footer {
  background-color: rgb(38, 50, 56);
  height: 75px;
  border-left: 1px solid white;
  padding-top: 5px;
}

.right-footer > p {
  margin-top: 10px;
  margin-left: 71px;
  font-size: 1.1rem;
}

.right-icons {
  font-size: 1.7rem;
  margin: 30px 0 0 90px;
}
