/* Base rules are the defaults. */

/*
They are almost exclusively single element
selectors but it could include attribute
electors, pseudo-class selectors, child selectors
or sibling selectors.
Essentially, a base style says that wherever
this element is on the page.
*/

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
}

html,
body {
  min-width: 760px;
  max-width: 1280px;
}

header {
  background-color: white;
  position: relative;
  height: 95px;
}

li {
  font-size: 1.7rem;
  color: rgb(21, 149, 136);
  list-style: none;
}

footer {
  color: white;
  font-weight: 200;
  width: auto;
}

footer > div > p {
  font-size: 1.5rem;
  float: left;
  margin-top: 20px;
  margin-left: 36%;
}

a {
  font-size: 1.85rem;
  font-weight: 300;
  color: rgb(21, 149, 136);
}

b {
  color: white;
  position: absolute;
  bottom: 18%;
  right: 0%;
  font-size: 1.65rem;
  font-weight: 200;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
