/* Layout rules divide the page into sections.
Layouts hold one or more modules together.
*/

.left {
  background-color: rgb(38, 50, 56);
  width: 75%;
  height: 1689px;
  float: left;
  border-right: 1px solid black;
}

.right {
  float: left;
  width: 25%;
  height: 100%;
  overflow: hidden;
}
