* {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
}

html,
body {
  min-width: 1280px;
}

header {
  background-color: white;
  position: relative;
  height: 95px;
}

li {
  font-size: 1.6rem;
  color: rgb(21, 149, 136);
}

nav ul li {
  list-style: none;
}

footer {
  padding: 15px;
  color: white;
}

footer > div > span {
  text-align: center;
  font-size: 1.5rem;
}

a {
  font-size: 1.85rem;
  color: rgb(21, 149, 136);
}

.container {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.left {
  position: relative;
  background-color: rgb(38, 50, 56);
  width: calc((1280px / 4) * 3);
  height: 1621px;
  float: left;
  border-right: 1px solid black;
}

.right {
  position: relative;
  float: left;
  width: calc(1280px / 4);
  height: 100%;
}

.left-team-members {
  height: 500px;
  width: 100%;
  background-color: white;
  padding-left: 10px;
}

.left-team-members > div {
  float: left;
  margin: 18px 10px 0;
}

.link {
  height: 12%;
  color: rgb(21, 149, 136);
}

.logo {
  height: 95px;
}

.logo img {
  position: absolute;
  top: 10px;
  left: 30px;
}

.logo i {
  position: relative;
  top: 33px;
  left: 277px;
  color: rgb(21, 149, 136);
  font-size: 3rem;
}

.right-team-members {
  margin-left: 17px;
}

.right-team-members > div {
  margin: 15px 0;
}

.right > footer {
  padding: 0;
}

#left-logo {
  position: absolute;
  left: -20px;
  top: 10px;
  width: calc(1280px / 4);
  float: left;
}

#left-nav {
  position: absolute;
  top: 60px;
  right: 20px;
}

#left-nav ul {
  float: left;
}

#left-nav ul li {
  float: left;
  margin: 5px;
}

#left-icons {
  font-size: 2.5rem;
  display: inline;
  height: auto;
  float: right;
}

#left-footer {
  position: absolute;
  left: 27%;
}

#team-header {
  position: relative;
  color: white;
  background: black;
  height: 165px;
}

#team-header > div {
  display: block;
}

#team-header > span {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  font-size: 4rem;
  top: 30%;
  transform: translateY(50%);
}

#right-nav {
  top: 95px;
  width: 100%;
  float: left;
  padding-left: 0;
}

#right-nav li {
  height: calc(145px / 3);
  border-bottom: 1px solid black;
  color: rgb(40, 39, 39);
  text-align: center;
  padding-top: 15px;
}

#right-nav li:hover {
  border-left: 1px solid white;
  background-color: rgb(40, 39, 39);
  color: rgb(21, 149, 136);
}

#right-nav:first-child {
  border-top: 1px solid black;
}

#right-footer {
  background-color: rgb(38, 50, 56);
  height: 95px;
}

#right-icons {
  font-size: 1.5rem;
  display: inline;
  height: auto;
  float: left;
}
